/* SECTION ABOUT ME */

.about-me {
    background-color: var(--bg-color-secondary);
    padding: 140px 0 100px 0;
    text-align: center;
}

.about-me .container-section p {
    max-width: 700px;
    margin: 20px auto;
    color: var(--color-dark-gray);
}

.about-me .container-section .fila {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.about-me .container-section .fila .col {
    width: 30%;
}

.about-me .container-section .fila .col i {
    color: var(--color-primary);
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid var(--color-primary);
    line-height: 40px;
    border-radius: 50%;
}

.about-me .container-section .fila .col span {
    display: block;
    font-weight: bold;
    margin: 8px 0;
}
